
* {
  margin:0; 
  padding:0;
  font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","游ゴシック","Yu Gothic","メイリオ",Meiryo,Osaka,sans-serif;
  text-rendering:optimizeSpeed;
  letter-spacing:0.25px;
  font-kerning:none; }

::selection {
    background:rgba(0,0,0,0.1); }
::-moz-selection {
    background:rgba(0,0,0,0.1); }

pre::selection {
  background:rgba(255,255,255,0.25); }
pre::-moz-selection {
  background:rgba(255,255,255,0.25); }

    
img::selection, iframe::selection {
  background:rgba(0,0,0,0); }
img::-moz-selection, iframe::-moz-selection {
  background:rgba(0,0,0,0); }




.strikethrough {
  text-decoration:line-through; } 
 
.container {
  position: relative;
  margin: 0 auto;
  padding: 29px 0 19px 0;
  width: 85%;
  max-width: 960px; }

#wrapper { 
  opacity:0; 
  -webkit-transition:opacity 1.0s ease-in; 
     -moz-transition:opacity 1.0s ease-in; 
       -o-transition:opacity 1.0s ease-in; 
          transition:opacity 1.0s ease-in; }

.br:before {
  content:"\A";
  white-space:pre; }

.iframeWrapper {
  position: relative;
  width: 100%; }

.iframeBefore {
  display: block; }

iframe {
  position: absolute;
  top :0; left:0;
  width :100%; height:100%; }
    

  
h1 {
  color:#242424;
  font-weight:600;
  font-size:26px;
  line-height:36px; 
  margin-top:-5px;
  margin-bottom:24px; }  
  
h2 {
  color:#242424;
  font-weight:600;
  font-size:18px;
  line-height:26px; 
  margin-top:-4px;
  margin-bottom:16px; }  
  

h3 { 
  color:#333;
  font-style:italic;
  font-weight:normal;
  
  font-size:12px; 
  line-height:20px;
  margin-top:-3px;
  margin-bottom:17px; }  
  

p {
  font-size:15px;
  line-height:25px;
  margin-top:-5px;
  margin-bottom:15px;
  color:#444;
  text-align:justify; 
  word-wrap: break-word; 
  word-break:break-all; }

ul, blockquote, img, pre, img, table, .iframeWrapper {
    margin-bottom: 20px; }
          
a {
  text-decoration:none;
  color: #4444F9; }

a:hover {
    text-decoration:none;
    color: #4e24b1; }  
      
th, td {
  padding: 15px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

td:first-child {
  padding-left: 0; }

td:last-child { 
  padding-right: 0; }
  
table {
  margin-top:-10px;
}  

ul {
  padding :12px 15px;
  border : 1px solid #E1E1E1;
  list-style: decimal inside; }
    
li {
  margin-bottom:0.0; }

table {
  width:100%; }  

tr, th, td {
  margin:0; }  
  
blockquote {
  border-left:2px solid #E1E1E1;
  padding:12px 15px; }


blockquote:last-child a {
  display:inline-block;
  margin-top: 15px; }
 
pre {
  font-size:14px;
  border-radius:2px;
  padding:10px 12px;
  background-color:#1d1e39;
  color:#FEFEFE;
  font-family: 'Courier New', Courier, Monaco, monospace;
  tab-size:2;
}

p, pre {
  white-space: pre;          
  white-space: pre-wrap;     
  white-space: -pre-wrap;    
  white-space: -o-pre-wrap;  
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap; 
  word-wrap: break-word; 
  word-break:break-all; }


  span + a, a + span {
    margin-right:2px;
  }

  span {
    margin-right:2px;
  }

  span.punctuation {
    letter-spacing:-5px;
    margin-left:-2px;
    margin-right:0px;
  }


@media (max-width: 550px) {
   
  h1 {
    font-size:22px;
    line-height:32px; 
    margin-top:-5px;
    margin-bottom:24px; }    

  p {
    font-size:14px;
    line-height:22px;
    margin-top:-4px;
    margin-bottom:16px; }  
    
  span.punctuation {
    letter-spacing:-4px; }
       
  table, tr, td {
    display:block; }
    
  table {
    margin-top:0px;
    border-top  : 1px solid #E1E1E1;
    border-left : 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1; }
    
  td:first-child {
    padding-left:15px; }
  
  td:last-child {
    padding-right:15px; }
  
}



