* {
  margin:0; 
  padding:0;
  letter-spacing:0; }

html {
  font-size:15px; 
  color:#444; }

::selection {
    background:rgba(0,0,0,0.1); }
::-moz-selection {
    background:rgba(0,0,0,0.1); }
    
img::selection, iframe::selection {
    background:rgba(0,0,0,0); }
img::-moz-selection, iframe::-moz-selection {
    background:rgba(0,0,0,0); }

  
.container {
  position: relative;
  margin: 0 auto;
  padding: 15px 0 10px 0;
  width: 85%;
  max-width: 960px; }

#wrapper { 
  opacity:0; 
  -webkit-transition:opacity 1.0s ease-in; 
     -moz-transition:opacity 1.0s ease-in; 
       -o-transition:opacity 1.0s ease-in; 
          transition:opacity 1.0s ease-in; }

.br:before {
  content:"\A";
  white-space:pre; }

.iframeWrapper {
  position: relative;
  width: 100%; }

.iframeBefore {
  display: block; }

iframe {
  position: absolute;
  top :0; left:0;
  width :100%; height:100%; }
    
h1, h2 {
  color:#000;
  font-weight:300; }
  
h1 {
  font-size:26px;
  line-height:30px; }  
  
h2 { 
  font-size:18px; 
  line-height:22px; }
    
p {
  line-height:25px; 
  color:#444; }

h1, h2, p, ul, blockquote, img, pre, img, table, .iframeWrapper {
    margin-bottom: 20px; }
          
a {
  color: #1EAEDB; }

a:hover {
  color: #0FA0CE; }
    
th, td {
  padding: 15px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

td:first-child {
  padding-left: 0; }

td:last-child { 
  padding-right: 0; }
  
table {
  margin-top:-10px;
}  

ul {
  padding :12px 15px;
  border : 1px solid #E1E1E1;
  list-style: decimal inside; }
    
li {
  margin-bottom:0.0; }

table {
  width:100%; }  

tr, th, td {
  margin:0; }  
  
blockquote {
  border-left:2px solid #E1E1E1;
  padding:12px 15px; }

blockquote p {
  margin-bottom:0; }

blockquote:last-child a {
  display:block;
  margin-top: 15px; }
 
pre {
  font-size:16px;
  border-radius:2px;
  padding:12px 15px;
  background-color:#000;
  color:#FFF;
  font-family: 'Courier New', Courier, Monaco, monospace;
  tab-size:2;
  white-space: pre;          
  white-space: pre-wrap;     
  white-space: -pre-wrap;    
  white-space: -o-pre-wrap;  
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap; 
  word-wrap: break-word; }

@media (max-width: 550px) {
      
  table, tr, td {
    display:block; }
    
  table {
    margin-top:0px;
    border-top  : 1px solid #E1E1E1;
    border-left : 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1; }
    
  td:first-child {
    padding-left:15px; }
  
  td:last-child {
    padding-right:15px; }
  
}
